.example-card {
    max-width: 250px;
    float: left;
    margin-top: 27px;
    margin-left: 40px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }