<mat-card class="example-card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.authorName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> -->
      <div id="img">
<!--         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
 -->      </div>
      <div id="detail">
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.authorName}}</mat-card-subtitle>
        <p>{{article.content}}</p>
      </div>
   <!--  </mat-card-content> -->
  </mat-card>
